
bundle.js
seco-bundle*.js
bower_components/
node_modules/
Content/images/frames/new/
App_Data/

#OS junk files
[Tt]humbs.db
*.DS_Store

#NetBeans files
nbproject/private

#WebStorm files
.idea/
#.idea/workspace.xml
#.idea/tasks.xml

#Visual Studio files
website.publishproj
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.opensdf
*.unsuccessfulbuild
*.webtestresult
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
.vs/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.sass-cache

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*ncrunch*
*crunch*.local.xml

# visual studio database projects
*.dbmdl

#Test files
*.testsettings